/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/* Custom Styling */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 4;
    background-color: green;
}

.sidebar {
    grid-row: 1 / 4;
    background-color: blue;
    padding: 16px;
}

.sidebar ul li {
    list-style-type: none;
}

.projects {
    grid-row: 2 / 4;
    background-color: yellow;
}

.announcements {
    background-color: grey;
}

.trending {
    background-color: brown;
}
